body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #606c38;
}
body h1{
  font-family: sans-serif;
  font-size: 36px;
  color: #fefae0;
  margin-top: 50px;
}
.top-right button {
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #023047;
  color: #fefae0;
  border-radius: 6px;
  border: 2px solid #fefae0;
}
.grid{
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  margin-left: 40.5%;
  margin-top: 50px;
}
.box{
  height: 90px;
  width: 90px;
  border-radius: 5px;
  background-color: #283618;
  color: #fefae0;
  font-size: 55px;
  border: 2px solid #fefae0;
  font-family: serif;
}
.button-container{
  margin-top: 30px;
}
.button-container button{
  font-size: 23px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fcfaf6;
  background-color: #450920;
  border: 2px solid #da627d;
}
footer{
  font-size: 20px;
  font-family: Monospace;
  margin-top: 90px;
}

@media (max-width: 480px){
  body h1 {
    color: #fcfaf6;
  }
  .grid{
    height: 330px;
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin-left: 8.5%;
    margin-top: 50px;
  }
  .box{
    height: 100px;
    width: 100px;
    padding: auto;
    border-radius: 5px;
    background-color: #283618;
    color: #fefae0;
    font-size: 40px;
    border: 2px solid #fefae0;
    font-family: serif;
  }
  footer{
    font-size: 18px;
    font-family: Monospace;
    margin-top: 60px;
  }
}